.header_inner {
    width: 100%;
    max-width: 1920px;
    padding: 0 48px;
    box-sizing: border-box;
    height: 100px;
    border-bottom: 1px solid #ddd;
}

.header_inner .header_flex {
    width: 100%;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_inner .header_flex .logo {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 3rem;
    letter-spacing: 1.5px;
    cursor: pointer;
}

.header_inner .header_flex .login {
    font-size: 1.4rem;
    cursor: pointer;
    color: #333;
}

.header_inner .header_flex .login a {
    margin-right: 1rem;
}

.header_inner .header_flex .login button {
    background: none;
    border: none;
    color: #222;
    font-size: 1.4rem;
    font-family: 'Noto Sans KR', sans-serif;
    margin-right: 1rem;
}

.header_inner .header_flex .login a:hover,
.header_inner .header_flex .login button:hover{
    opacity: 0.9;
}