.wrap {
    min-height: 800px;
}

.container {
    width: 335px;
    margin: 0 auto;
    padding-top: 200px;
}

.container .title {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 3rem;
}

.container input {
    height: 40px;
    padding-left: 10px;
    border: none;
    background: rgb(249, 249, 249);
    width: calc(100% - 80px);
    display: -webkit-flex;
}

.container input:focus {
    border: 1px solid #333;
}

.container .id,
.container .password {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.4rem;
    height: 60px;
}

.container .id span,
.container .password span {
    width: 80px;
    display: inline-block;
}

.container .signUp {
    display: flex;
    justify-content: center;
    font-size: 1.4rem;
    color: #444;
    margin-top: 1rem;
    cursor: pointer;
    opacity: 0.8;
    font-weight: 500;
}

.container .signUp div.bar {
    width: 20px;
    text-align: center;
}

.container .signUp:hover {
    opacity: 1;
}

.container .loginBtn button {
    width: 100%;
    height: 50px;
    border-radius: 5px;
    background: #333;
    color: #fff;
    border: none;
    font-weight: bold;
    font-size: 1.8rem;
    margin-top: 3rem;
}

.container .loginBtn button:hover {
    opacity: 0.9;
}