.wrap {
    min-height: 800px;
}

.container {
    width: 100%;
    max-width: 1440px;
    margin: 5rem auto;
}

.myPageTitle {
    text-align: center;
}

.myPageTitle span {
    font-weight: bold;
}

.tab {
    max-width: 1000px;
    margin: 50px auto;
    display: flex;
    cursor: pointer;
}

.tab div {
    width: 50%;
    height: 50px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #ededed;
    box-sizing: border-box;
}

.tab div.active {
    border-bottom: 2px solid #333;
}

.subscribeList .titleBar{
    display: flex;
    text-align: center;
    border-top: 1px solid #444;
    border-bottom: 1px solid #444;
    height: 50px;
    line-height: 50px;
}

.subscribeList .titleBar div {
    flex: 1;
}

.subscribeList .listTable {
    display: flex;
    border-bottom: 1px solid #ddd;
    padding: 15px 0;
}

.subscribeList .listTable > div {
    flex: 1;
    text-align: center;
    padding: 15px 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

.subscribeList .listTable .imgWrap {
    display: block;
}

.subscribeList .listTable .imgBox {
    width: 150px;
    height: 150px;
    overflow: hidden;
    margin: 0 auto;
    border: 1px solid #ddd;
}

.subscribeList .listTable .imgBox img {
    width: 100%;
}

.modify {
    width: 400px;
    margin: 0 auto;
}
.inputWrap {
    display: flex;
    margin-top: 30px;
    font-size: 1.4rem;
}

.inputWrap > .title {
    width: 100px;
    line-height: 40px;
    color: rgb(85, 85, 85);
}

.inputWrap .inputDiv {
    width: calc(100% - 100px);
}

.inputWrap .inputDiv.flex {
    display: flex;
    align-items: center;
}

.inputWrap .inputDiv select {
    background: rgb(249, 249, 249);
    border: none;
    height: 40px;
    width: 100%;
}

.inputWrap > .inputDiv input {
    background: rgb(249, 249, 249);
    border: none;
    height: 40px;
    padding-left: 10px;
    width: 100%;
}

.inputWrap .inputDiv .passwordTip {
    color: tomato;
    font-size: 1.3rem;
    margin-top: 0.5rem;
}

.modify .btnBox {
    width: 100%;
    display: flex;
    justify-content: center;
}

.modify .btnBox button {
    width: 100px;
    height: 40px;
    color: #fff;
    background: #333;
    border: none;
    margin-top: 30px;
}

.modify .btnBox button:hover {
    opacity: 0.9;
}
